*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
		
}

html{
	scroll-behavior: smooth;
}
body{
	/*background-image: url(./components/images/cap1-bg2.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;*/
	background-color: black;
	
}
/*landung page*/
#landing{
	
	background-color: black;
}
#bgVid1{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	opacity: .2;
	filter: grayscale(100);
	z-index: -1;
}


/* #landing-bg{
	position: absolute;
	z-index: 1;
	width: 100%;
} */
video{
	display: block;
	width: 100%;
	height: auto;
}
#welcome{
	position: absolute;
	margin-top: 50px;
	z-index: 5;

}
#welcome2{
	position: absolute;
	margin-top: 50px;
	left: 15%;
	z-index: 5;
}
#logo{
	position: absolute;
	top: 30%;
	left: 15%;
	z-index: 100;
	max-width: 250px;
}
#logo:hover{
	transform: scale(1.1);
	transition: .1s;
	box-shadow: 0px 10px 10px #33ff00;
}
#logo2{
	position: absolute;
	top: 30%;
	left: 30%;
	z-index: 100;
	max-width: 250px;
}
#logo2:hover{
	transform: scale(1.1);
	transition: .1s;
	box-shadow: 0px 10px 10px #33ff00;
}

.box{
	width: 200px;
    height: 200px;
    position: absolute;
    display: inline-block;
    margin: 0 auto;
    top: 210px;
    left: 43%;
    z-index: 10;
}
.box2{
	width: 200px;
    height: 200px;
    position: absolute;
    display: inline-block;
    margin: 0 auto;
    top: 210px;
    left: 63%;
    z-index: 10;
}
.box3{
	width: 200px;
    height: 200px;
    position: absolute;
    display: inline-block;
    margin: 0 auto;
    top: 210px;
    left: 83%;
    z-index: 10;
}
.img-bot{
	width: 100%;
}
.box .img-top, .box2 .img-top, .box3 .img-top{
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.box:hover .img-top, .box2:hover .img-top, .box3:hover .img-top {
    display: inline;
    transform: scale(1.1);


}
.img-txt{
	filter: grayscale(100);
}
.box:hover .img-txt, .box2:hover .img-txt, .box3:hover .img-txt {
    filter: grayscale(0);
}
.icon2{
	width: 150px;
	
}


.box-1{
	width: 50px;
    height: 50px;
  	position: absolute;
    margin: 0 auto;
    bottom: 30%;
    left: 15%;
    z-index: 10;
}
.box-2{
	width: 50px;
    height: 50px;
  	position: absolute;
    margin: 0 auto;
    bottom: 30%;
    left: 40%;
    z-index: 10;
}
.box-3{
	width: 50px;
    height: 50px;
  	position: absolute;
    margin: 0 auto;
    bottom: 30%;
    left: 65%;
    z-index: 10;
}

/*nav*/
nav{
	position: sticky;
	top: 20%;
	height: 50px;
	z-index: 1000;
}
.box4{
	width: 50px;
    height: 50px;
}
.box4-1 img{
	width: 40px;
	height: 40px;
}
.box4-1:hover .icon{
	filter: grayscale(0);
	box-shadow: 0px 0px 10px #33ff00;
}
.box4:hover .icon{
	filter: grayscale(0);
	box-shadow: 0px 0px 10px #33ff00;
	
}
.divide{
	height: 200px;
}
.icon{
	max-width: 50px;
	filter: grayscale(100%);
	transition: .1s;
}




/*about*/
#about3{
	
}
#vin{
	
}
h6{
	font-size: 20px;
	line-height: 1.6;
}


/*skills*/
#skills{
	padding-bottom: 10%;
	
}
.txt-logo{
	visibility: hidden;
}

.logo-box:hover .txt-logo{
	visibility: visible;
}

.logo-icon{
	width: 80px;
	height: 80px;

}
.logo-box:hover .logo-icon{
	
	transform: scale(1.1);
}
.red:hover{
	color: red;
	
}
.green:hover{
	color: green;
	
}
.blue:hover{
	color: cyan;
	
}
.yellow:hover{
	color: yellow;
	
}
.salmon:hover{
	color: salmon;
	
}
.violet:hover{
	color: violet;
	
}

/*projects*/
 #projects{
	/*background-image: url(./components/images/power-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;*/
	height: 90vh;

} 
.project-item{
	max-width: 250px;
}
.project-box{
	height: 200px;
	width: 300px;
	margin-top: 40px;
}
.project-box:hover .project-item{
	transform: scale(1.1);
	box-shadow: 0px 5px 10px #33ff00;
}

/*contacts*/
#contacts{
	
	
}

.logo-name{
	width: 500px;
}
.cont-icon{
	width: 60px;
	
}

.icon-box{
	width: 300px;
	height: 80px;
}

/*footer*/
footer{
	padding-top: 10%;
	text-align: center;
	

}